.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  padding: 2.4rem 1rem;
  background: transparent;
  transition: all 0.4s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.custom-navbar.scrolled {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 55px;
  width: auto;
}

/* Links */
.navbar-nav .nav-link {
  position: relative;
  font-weight: 500;
  color: #fff;
  margin: 0 12px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.custom-navbar.scrolled .nav-link {
  color: #233b69 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #233b69;
  font-weight: 600;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #233b69;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Button */
.start-btn {
  background-color: #233b69;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.start-btn:hover {
  background-color: #10254e;
}

/* Offcanvas Styles */
.custom-offcanvas {
  width: 80%;
  background: #ffffff;
  color: #233b69;
  padding: 2rem 1rem;
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
}

.offcanvas-body .nav-link {
  display: block;
  color: #233b69;
  font-size: 1.1rem;
  padding: 10px 0;
  text-transform: capitalize;
}

.offcanvas-body .nav-link.active,
.offcanvas-body .nav-link:hover {
  color: #10254e;
  font-weight: 600;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Responsive */
@media (max-width: 992px) {
  .custom-navbar {
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.383);
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}
