<div class="banner-section">
    <h4>About US</h4>
    <p>Home/About US</p>
</div>

<section class="section-sty">
    <h3 class="heading mb-2">about us</h3>
    <p class="sub-heading mt-3">Know who we are, what we stand for, and the values driving our success.</p>

    <div class="benefits-section container py-5">
        <div class="row text-center">
            <div class="col-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/north-east-pmc.appspot.com/o/website-images%2Fservices%2Ftest%2Fabou-1.jpg?alt=media&token=7a87235b-fa66-4586-b9bb-4e92c5d1f004"
                    alt="" class="img-fluid own-image">
            </div>
            <div class="col-8">
                <p class="own-name mt-4">
                    <strong>Dhruv Gotawala</strong> is the visionary behind North East Project Management Consultancy
                    (PMC), dedicated to
                    delivering excellence in construction project management. With years of experience in planning,
                    supervising, and executing diverse projects, [Name] has built a reputation for trust, transparency,
                    and reliability.
                </p>
                <p class="own-name">At North East PMC, our focus is on ensuring timely delivery, cost efficiency, and
                    uncompromised
                    quality. We act as a bridge between clients, engineers, and contractors, making complex processes
                    seamless and stress-free. From resource utilization and quality control to regular reporting and
                    client updates, we ensure every detail is managed with precision.</p>
                <div class="col-12 d-flex flex-column align-items-start text-center mt-2">
                    <button class="btn btn-primary mt-5" style="border-radius: 11px !important;">Get In Touch</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="project-background">
    <section class="section-sty">
        <h3 class="heading mb-2">MEET OUR TEAM</h3>
        <p class="sub-heading mt-3">The people behind our success and your trusted project partners.</p>
        <div class="container">
            <div class="row g-4">
                <div class="col-md-3" *ngFor="let member of teamMembers">
                    <div class="project-card">
                        <img [src]="member.image" alt="member.title">
                        <div class="project-overlay">
                            <h4>{{member.title}}</h4>
                            <p>{{member.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>