/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.body {
  margin: 0;
  font-family: "Abhaya Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2c2c2c;
  font-size: 17px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  overflow-x: hidden;
}

.primary-color {
  color: #233b69;
}

.subHeading {
  color: #444444 !important;
}

.heading {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #233b69;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
  color: #444444;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  width: 900px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0rem 0rem 0 0rem;
  transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
}

.text-center {
  text-align: center !important;
  color: red;
}

.section-sty {
  padding: 5em 5rem 3rem 5rem;
  position: relative;
  width: 100%;
}

.secondry-btn {
  background-color: white;
  color: #233b69;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px !important;
  border: none;
  padding: 14px 38px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  box-shadow: 0 4px 12px rgba(200, 200, 200, 0.4);
}

.secondry-btn:hover {
  background-color: #ebebeb; /* Slightly darker tone */
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(200, 200, 200, 0.4);
}

.secondry-btn:active {
  transform: scale(0.97);
  box-shadow: 0 3px 8px rgba(197, 197, 197, 0.4);
}

.secondry-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(212, 212, 212, 0.4);
}

.btn-primary {
  background-color: #233b69; /* Deep navy blue tone */
  border: none;
  padding: 14px 38px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  box-shadow: 0 4px 12px rgba(35, 59, 105, 0.3);
}

.btn-primary:hover {
  background-color: #1c2e56; /* Slightly darker tone */
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(35, 59, 105, 0.4);
}

.btn-primary:active {
  transform: scale(0.97);
  box-shadow: 0 3px 8px rgba(35, 59, 105, 0.4);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(35, 59, 105, 0.4);
}

@media (max-width: 1200px) {
  .cta-img {
    min-height: 320px;
  }
  .bottom-fixed-img {
    max-width: 90%;
  }
}

/* Responsive */
@media (max-width: 991px) {
  .somrthing-wrong {
    text-align: center;
  }

  .somrthing-wrong p {
    margin: 0 auto 30px;
  }

  .somrthing-wrong h3 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .cta-img {
    min-height: auto;
  }
  .bottom-fixed-img {
    position: static;
    display: inline-block;
    max-width: 70%;
    margin-top: 1.5rem;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .col-md-5 .feature-box::after,
  .col-md-5 .feature-box::before {
    display: none; /* hide arrows on mobile */
  }

  .project-card {
    height: 50vw;
    border-radius: 15px;
  }

  .card-view-section {
    padding: 2rem 0;
  }

  .ftco-section {
    padding: 2em 0;
  }

  .card-view-section {
    padding: 2rem 0;
  }

  .ftco-section {
    padding: 2em 0;
  }
}
